/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .carousel-container {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }

  .carousel-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}